#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#image-container {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

#image-container > img {
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-gray {
  color: rgb(185, 183, 183);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #cfeaff;
  border-radius: 100%;
  font-size: 2.3rem;
  color: #0093fd;
  cursor: pointer;
}

.circle:hover {
  background-color: #e0e0e0;
}

text-primary {
  color: #5353d8 !important;
}

.card-text {
    scrollbar-width: thin;
    scrollbar-color: #5353d8 #f8f9fa;
  }

  .card-text::-webkit-scrollbar {
    width: 8px;
  }

  .card-text::-webkit-scrollbar-thumb {
    background-color: #E2E0FF;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .card-text::-webkit-scrollbar-track {
    background-color: #f8f9fa;
    border-radius: 10px;
  }

  .card-text::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
  }

  .dropzone-container {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .dropzone-container:hover {
    background-color: #f9f9f9;
  }
  
  .dropzone-container .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  